# IDEA files
.idea

# OSX dir files
.DS_Store

# packages
node_modules

# build chches
docs/.vuepress/.cache
docs/.vuepress/.temp
# build outputs
docs/.vuepress/dist
# wasm outputs
docs/.vuepress/public/realcugan-ncnn-webassembly*
