// place your custom styles here
@font-face {
  font-family: 'digital-7_monoitalic';
  src: url('/assets/font/digital-7_mono_italic-webfont.woff2') format('woff2'),
       url('/assets/font/digital-7_mono_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

